body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

h1{
    color: #EEFF00;
    background-color: green;
}

main{
    background-color: palevioletred
}

footer{
    background-color: black;
    color: white;
}

section, aside{
    background-color: salmon;
}
img{
    width: 90px;
}